<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-brand,
        .navbar-text {
            display: block;
        }

        .navbar-text {
            color: rgba(255, 255, 255, .5);
        }

        .logout-btn {
            margin-left: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#" th:href="@{/}">Auto-Deal</a>

            <span class="navbar-text">
              Welcome <span th:text="${username}"></span>

                (<span th:text="${userRole}"></span>)
            </span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="/logout" th:href="@{/logout}" class="btn btn-primary logout-btn" role="button">Logout</a>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <h4>Now you can</h4>
<!--    <p>Spring Security Thymeleaf tutorial</p>-->
    <div sec:authorize="hasRole('USER')">
        <a href="/userProfile" th:href="@{/user/profile}" class="btn btn-success">Go to your profile</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <a href="/adminDashboard" th:href="@{/admin/dashboard}" class="btn btn-success">Go to dashboard</a>
    </div>

<!--    <h4>Or</h4>-->
<!--    <div>-->
<!--    <p><button type="button" class="btn btn-success">Go to main page</button></p>-->
<!--    </div>-->
<!--    <div sec:authorize="isAuthenticated()"> Text visible only to authenticated users.</div>-->
<!--    Authenticated username:-->
<!--    <div sec:authentication="name"></div>-->
<!--    Authenticated user roles:-->
<!--    <span sec:authentication="authorities"></span>-->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>
