<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auto-Deal Welcome to your profile!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navbar"></div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Welcome to your profile!</h2>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/editUser}" class="form-horizontal">
                        <div class="form-group mb-3">
                            <label class="control-label"> Username</label>
                            <label for="username"></label><input type="text" id="username" name="username" class="form-control" placeholder="Username" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label"> Email</label>
                            <label for="email"></label><input type="email" id="email" name="email" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">Open orders</button>
                            <button type="submit" class="btn btn-success">All orders</button>
                            <button type="submit" class="btn btn-secondary">Historical orders</button>
                            <p align="right">
                            <button type="submit" class="btn btn-danger">Delete account</button>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p><a th:href="@{/logout}" class="link-primary">Logout</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>